{{user}}
<table mat-table [dataSource]="products">
    <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let prod">{{prod.id}}</td>
    </ng-container>
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let prod">{{prod.name}}</td>
    </ng-container>
    <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let prod">{{prod.description}}</td>
    </ng-container>
    <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let prod">{{prod.price}}</td>
    </ng-container>
    <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let prod">{{prod.image}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<!-- <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of products">
            <td>{{prod.id}}</td>
            <td>{{prod.name}}</td>
            <td>{{prod.description}}</td>
            <td>{{prod.price}}</td>
            <td>{{prod.imageUrl}}</td>
        </tr>
    </tbody>
</table>-->
<!-- <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of products">
            <td>{{prod.id}}</td>
            <td>{{prod.name}}</td>
            <td>{{prod.description}}</td>
            <td>{{prod.price}}</td>
            <td>{{prod.imageUrl}}</td>
        </tr>
    </tbody>
</table> -->