.mat-card{
    width:40%;
    margin:0 auto;
    height:400px;
    border-radius: 1%;
}
.login{
    padding-top:5%;
}
.alert{
    max-height: 0px ;
    margin-top: 0px !important;
}
.toolbar
{
    justify-content: center;   
}
.container
{
    padding:5% 28%;
    width:100%;
}
.form-content
{
    text-align: center;
    padding: 1% 1%;
}
mat-form-field
{
    width:100%;
}
.sign-in button
{
    width:100%;
    top:-1%;
}
.sign-in p{
}
.not-found
{
    color:red;
    text-align: center;
    font-size: 1.2em;
}
.validated
{
    color:green;
    text-align: center;
    font-size: 1.2em;
}
