<!-- <mat-toolbar class="mat-api" color="primary">
    <p>Testing Rest API</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control">
            <div class="input-group-append">
              <button class="search" type="button"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <span id="clickable"><i class="fa fa-shopping-cart fa-3x" (click)="navigateToCart()"></i></span>
</mat-toolbar> -->
<!-- <mat-tab-group>
  <a mat-tab-link [routerLink]="/login">Login</a>
</mat-tab-group>
<router-outlet></router-outlet> -->
<nav mat-tab-nav-bar>
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
  {{link.label}}
</a>
</nav>
<router-outlet></router-outlet>