<mat-spinner *ngIf="products.length===0"></mat-spinner>
<div class="cards">
      <mat-card *ngFor="let product of products">
          <mat-card-header>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>Rs. {{product.price}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{product.description}}</p>
            <img style="height:20%;width:20%;" src="{{product.imageUrl}}">
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="updateCart(product)">Add to cart</button>
          </mat-card-actions>
      </mat-card>
</div>