.cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.card-1{
    width:15%;
    background-color: #3366ff;
    color:white;
}
.card-2{
    width:30%;
    margin:0;
    height:500px;
    border-radius: 0.1%;
}
.reg{
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    font-size:200%;
    margin-top:20%;
    line-height: 1.4;
}
.stuffs{
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    margin-top:20%;
    line-height: 1.4;
    font-weight:lighter;
    font-size:120%;
}
.register{
    padding-top:2%;
}
.toolbar
{
    justify-content: center;   
}
.container
{
    padding:4% 16%;
    width:100%;
}
.form-content
{
    text-align: center;
    padding: 1% 1%;
}
mat-form-field
{
    width:100%;
}
